(
	// familyName,
	"Scale to UPM",
	Filter,
	InterpolationWeightY,
	"Remove Glyphs",
	"Rename Glyphs",
	"Export Glyphs",
	"Reencode Glyphs",
	"Keep Glyphs",
	"Decompose Glyphs",
	"Remove Features",
	"Replace Feature",
	"Add Feature",
	"Remove Prefixes",
	"Replace Prefix",
	"Add Prefix",
	"Remove Classes",
	"Replace Class",
	"Add Class",
	"Update Features",
	"Keep Overlapping Components",
	"Keep Transformed Components",
	"Save as TrueType",
	"Disable Subroutines",
	"Don't use Production Names",
	typoAscender,
	typoDescender,
	typoLineGap,
	winAscent,
	winDescent,
	hheaAscender,
	hheaDescender,
	hheaLineGap,
	vheaVertAscender,
	vheaVertDescender,
	vheaVertLineGap,
	italicAngle,
	//weightClass,
	underlineThickness,
	underlinePosition,
	strikeoutPosition,
	strikeoutSize,
	subscriptXOffset,
	subscriptXSize,
	subscriptYOffset,
	subscriptYSize,
	superscriptXOffset,
	superscriptXSize,
	superscriptYOffset,
	superscriptYSize,
	compatibleFullName,
	// preferredFamilyName,
	// preferredSubfamilyName,
	// postscriptFontName,
	// postscriptFullName,
	// WWSFamilyName,
	// WWSSubfamilyName,
	fsType,
	panose,
	unicodeRanges,
	codePageRanges,
	// sampleText,
	// copyright,
	// license,
	// licenseURL,
	// versionString,
	// styleMapFamilyName,
	// trademark,
	unitsPerEm,
	uniqueID,
	fileName,
	"Compatible name Table",
	"Name Table Entry",
	// localizedFamilyName,
	// localizedStyleName,
	// localizedStyleMapFamilyName,
	// localizedDesigner,
	"Grid Spacing",
	"TrueType Curve Error",
	"Use Typo Metrics",
	"Has WWS Names",
	"Optical Size",
	Autohint,
	blueScale,
	blueShift,
	blueFuzz,
	"Family Alignment Zones",
	"Disable autohinting for glyphs",
	"Remove post names for webfonts",
	"Post Table Type",
	"TTFAutohint options",
	"TTFAutohint control instructions",
	TTFZoneRoundingThreshold,
	TTFMinimumDistance,
	TTFBlueFuzz,
	"gasp Table",
	PreFilter,
	"Disable Masters",
	"Webfont Formats",
	"Webfont Only",
	"Instance Preview",
	"Local Interpolation",
	"Color Layers to SVG",
	"Color Palette for SVG",
	"Color Palette for CPAL",
	"SBIX to SVG",
	"Export COLR Table",
	"Export SVG Table",
	"Export sbix Table",
	"Export STAT Table",
	"Export morx Table",
	"Style Name as STAT entry",
	"Elidable STAT Axis Value Name",
	"Export OpenType",
	"Export AAT",
	"Variable SubfamilyName",
)
