(
	typoAscender,
	typoDescender,
	typoLineGap,
	winAscent,
	winDescent,
	// smallCapHeight,
	// shoulderHeight,
	// ascender,
	// capHeight,
	// xHeight,
	// descender,
	italicAngle,
	vheaVertAscender,
	vheaVertDescender,
	vheaVertLineGap,
	hheaAscender,
	hheaDescender,
	hheaLineGap,
	underlineThickness,
	underlinePosition,
	strikeoutPosition,
	strikeoutSize,
	subscriptXOffset,
	subscriptXSize,
	subscriptYOffset,
	subscriptYSize,
	superscriptXOffset,
	superscriptXSize,
	superscriptYOffset,
	superscriptYSize,
	"Master Icon Glyph Name",
	"Master Color",
	"Master Color Dark",
	"Master Stroke Color",
	"Master Stroke Color Dark",
	"Master Background Color",
	"Master Background Color Dark",
	"Color Palettes",
	"CJK Guide",
	"CJK Grid",
	"CJK Grid Vertical",
	"CJK Grid Horizontal",
	TTFStems,
	TTFZones,
	TTFBlueFuzz,
	"prep Table Assembly",
	"fpgm Table Assembly",
	"cvt Table",
	"Preview Ascender",
	"Preview Descender",
	"Link Metrics With First Master",
	"Link Metrics With Master",
	"Axis Location",
	"Default Layer Width",
	"Design Grid"
)
