(
	glyphOrder,
	"Family Alignment Zones",
	panose,
	fsType,
	unicodeRanges,
	codePageRanges,
	vendorID,
	blueScale,
	blueShift,
	blueFuzz,
	isFixedPitch,
	// trademark,
	// description,
	// sampleText,
	// license,
	// licenseURL,
	versionString,
	uniqueID,
	"Instance Preview",
	ROS,
	"Export morx Table",
	"EditView Line Height",
	"Compatible name Table",
	"Name Table Entry",
	"gasp Table",
	// localizedFamilyName,
	// localizedDesigner,
	"TrueType Curve Error",
	"TTFAutohint binary path",
	TTFOvershootSuppressionBelowPPM,
	TTFZoneRoundingThreshold,
	TTFMinimumDistance,
	TTFBlueFuzz,
	"Disable autohinting for glyphs",
	"Use Typo Metrics",
	"Has WWS Names",
	"Use Extension Kerning",
	"Don't use Production Names",
	// note,
	"Disable Subroutines",
	"Write lastChange",
	"Write DisplayStrings",
	"Use Line Breaks",
	"Variable Font Origin",
	"Variable Font File Name",
	"Variable Font Family Name",
	"Variable Font Style Name",
	// "Variable Font Optimize Deltas",
	"Axis Mappings",
	"Get Hints From Master",
	"Disable Masters",
	"Hangul Composition Groups",
	// Axes,
	"Virtual Master",
	"Import Master",
	"Import Font",
	"Enforce Compatibility Check",
	"Update Features",
	// "Compact File Storage",
	"Point To Unit Ratio",
	"Default Layer Width",
	"Feature for Feature Variations",
	"Decompose Components in Variable Font",
	"Post Table Type",
	"DisableAllAutomaticBehaviour",
	"MakeOTF Compatibility Mode",
	"Color Palettes",
)
