{
	aalt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#aalt";
	abvf = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#abvf";
	abvm = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#abvm";
	abvs = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#abvs";
	afrc = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#afrc";
	akhn = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#akhn";
	blwf = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#blwf";
	blwm = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#blwm";
	blws = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#blws";
	calt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#calt";
	case = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#case";
	ccmp = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#ccmp";
	cfar = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#cfar";
	cjct = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#cjct";
	clig = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#clig";
	cpct = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#cpct";
	cpsp = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#cpsp";
	cswh = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#cswh";
	curs = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#curs";
	cvXX = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#cv01-cv99";
	c2pc = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#c2pc";
	c2sc = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#c2sc";
	dist = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#dist";
	dlig = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#dlig";
	dnom = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#dnom";
	dtls = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#dtls";
	expt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ae#expt";
	falt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#falt";
	fin2 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#fin2";
	fin3 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#fin3";
	fina = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#fina";
	flac = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#flac";
	frac = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#frac";
	fwid = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#fwid";
	half = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#half";
	haln = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#haln";
	halt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#halt";
	hist = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#hist";
	hkna = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#hkna";
	hlig = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#hlig";
	hngl = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#hngl";
	hojo = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#hojo";
	hwid = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#hwid";
	init = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#init";
	isol = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#isol";
	ital = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#ital";
	jalt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#jalt";
	jp78 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#jp78";
	jp83 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#jp83";
	jp90 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#jp90";
	jp04 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_fj#jp04";
	kern = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#kern";
	lfbd = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#lfbd";
	liga = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#liga";
	ljmo = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#ljmo";
	lnum = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#lnum";
	locl = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#locl";
	ltra = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#ltra";
	ltrm = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#ltrm";
	mark = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#mark";
	med2 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#med2";
	medi = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#medi";
	mgrk = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#mgrk";
	mkmk = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#mkmk";
	mset = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#mset";
	nalt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#nalt";
	nlck = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#nlck";
	nukt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#nukt";
	numr = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#numr";
	onum = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#onum";
	opbd = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#opbd";
	ordn = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#ordn";
	ornm = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_ko#ornm";
	palt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#palt";
	pcap = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#pcap";
	pkna = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#pkna";
	pnum = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#pnum";
	pref = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#pref";
	pres = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#pres";
	pstf = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#pstf";
	psts = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#psts";
	pwid = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#pwid";
	qwid = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#qwid";
	rand = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rand";
	rclt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rclt";
	rkrf = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rkrf";
	rlig = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rlig";
	rphf = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rphf";
	rtbd = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rtbd";
	rtla = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rtla";
	rtlm = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rtlm";
	ruby = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ruby";
	rvrn = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#rvrn";
	salt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#salt";
	sinf = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#sinf";
	size = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#size";
	smcp = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#smcp";
	smpl = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#smpl";
	ss01 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss02 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss03 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss04 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss05 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss06 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss07 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss08 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss09 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss10 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss11 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss12 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss13 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss14 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss15 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss16 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss17 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss18 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss19 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ss20 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssxx";
	ssty = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#ssty";
	stch = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#stch";
	subs = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#subs";
	sups = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#sups";
	swsh = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#swsh";
	titl = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#titl";
	tjmo = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#tjmo";
	tnam = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#tnam";
	tnum = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#tnum";
	trad = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#trad";
	twid = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_pt#twid";
	unic = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#unic";
	valt = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#valt";
	vatu = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vatu";
	vert = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vert";
	vhal = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vhal";
	vjmo = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vjmo";
	vkna = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vkna";
	vkrn = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vkrn";
	vpal = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vpal";
	vrt2 = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vrt2";
	vrtr = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#vrtr";
	zero = "https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#zero";
}