{
	devanagari = (
		(
			ka-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			ra-deva
		),
		(
			ka-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			la-deva
		),
		(
			ta-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			na-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ra-deva
		),
		(
			ta-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ra-deva
		),
		(
			bha-deva,
			halant-deva,
			ra-deva,
			halant-deva,
			ya-deva
		),
		(
			ca-deva,
			halant-deva,
			ca-deva,
			halant-deva,
			ya-deva
		),
		(
			ca-deva,
			halant-deva,
			cha-deva,
			halant-deva,
			ra-deva
		),
		(
			da-deva,
			halant-deva,
			da-deva,
			halant-deva,
			va-deva
		),
		(
			da-deva,
			halant-deva,
			dha-deva,
			halant-deva,
			ra-deva
		),
		(
			da-deva,
			halant-deva,
			dha-deva,
			halant-deva,
			ya-deva
		),
		(
			da-deva,
			halant-deva,
			va-deva,
			halant-deva,
			ra-deva
		),
		(
			dda-deva,
			halant-deva,
			dda-deva,
			halant-deva,
			ya-deva
		),
		(
			ddha-deva,
			halant-deva,
			ddha-deva,
			halant-deva,
			ya-deva
		),
		(
			ga-deva,
			halant-deva,
			bha-deva,
			halant-deva,
			ya-deva
		),
		(
			ga-deva,
			halant-deva,
			da-deva,
			halant-deva,
			va-deva
		),
		(
			ga-deva,
			halant-deva,
			dha-deva,
			halant-deva,
			va-deva
		),
		(
			ga-deva,
			halant-deva,
			dha-deva,
			halant-deva,
			ya-deva
		),
		(
			ga-deva,
			halant-deva,
			la-deva,
			halant-deva,
			ya-deva
		),
		(
			ga-deva,
			halant-deva,
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			ga-deva,
			halant-deva,
			na-deva,
			halant-deva,
			ya-deva
		),
		(
			ga-deva,
			halant-deva,
			ra-deva,
			halant-deva,
			ya-deva
		),
		(
			gha-deva,
			halant-deva,
			la-deva,
			halant-deva,
			ya-deva
		),
		(
			ha-deva,
			halant-deva,
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			ka-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ya-deva
		),
		(
			ka-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			ra-deva
		),
		(
			ka-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			dda-deva
		),
		(
			ka-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			pa-deva
		),
		(
			ka-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			ta-deva
		),
		(
			ka-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			tta-deva
		),
		(
			ka-deva,
			halant-deva,
			ssa-deva,
			halant-deva,
			ma-deva
		),
		(
			ka-deva,
			halant-deva,
			ssa-deva,
			halant-deva,
			va-deva
		),
		(
			ka-deva,
			halant-deva,
			ssa-deva,
			halant-deva,
			ya-deva
		),
		(
			ka-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ra-deva
		),
		(
			ka-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			va-deva
		),
		(
			ka-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ya-deva
		),
		(
			ka-deva,
			halant-deva,
			tta-deva,
			halant-deva,
			ra-deva
		),
		(
			ka-deva,
			halant-deva,
			va-deva,
			halant-deva,
			ya-deva
		),
		(
			kha-deva,
			halant-deva,
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			kha-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ya-deva
		),
		(
			la-deva,
			halant-deva,
			da-deva,
			halant-deva,
			ra-deva
		),
		(
			la-deva,
			halant-deva,
			ha-deva,
			halant-deva,
			ya-deva
		),
		(
			la-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ya-deva
		),
		(
			la-deva,
			halant-deva,
			la-deva,
			halant-deva,
			ya-deva
		),
		(
			la-deva,
			halant-deva,
			tha-deva,
			halant-deva,
			ya-deva
		),
		(
			ma-deva,
			halant-deva,
			ba-deva,
			halant-deva,
			ra-deva
		),
		(
			ma-deva,
			halant-deva,
			ba-deva,
			halant-deva,
			ya-deva
		),
		(
			ma-deva,
			halant-deva,
			bha-deva,
			halant-deva,
			ra-deva
		),
		(
			ma-deva,
			halant-deva,
			bha-deva,
			halant-deva,
			va-deva
		),
		(
			ma-deva,
			halant-deva,
			bha-deva,
			halant-deva,
			ya-deva
		),
		(
			ma-deva,
			halant-deva,
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			ma-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			ra-deva
		),
		(
			na-deva,
			halant-deva,
			bha-deva,
			halant-deva,
			va-deva
		),
		(
			na-deva,
			halant-deva,
			bha-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			da-deva,
			halant-deva,
			dha-deva
		),
		(
			na-deva,
			halant-deva,
			da-deva,
			halant-deva,
			ra-deva
		),
		(
			na-deva,
			halant-deva,
			da-deva,
			halant-deva,
			va-deva
		),
		(
			na-deva,
			halant-deva,
			dha-deva,
			halant-deva,
			ra-deva
		),
		(
			na-deva,
			halant-deva,
			dha-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			ga-deva,
			halant-deva,
			va-deva
		),
		(
			na-deva,
			halant-deva,
			ha-deva,
			halant-deva,
			ra-deva
		),
		(
			na-deva,
			halant-deva,
			ha-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			ja-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ra-deva
		),
		(
			na-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			sa-deva
		),
		(
			na-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ssa-deva
		),
		(
			na-deva,
			halant-deva,
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			na-deva,
			halant-deva,
			da-deva
		),
		(
			na-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			ra-deva
		),
		(
			na-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			tha-deva
		),
		(
			na-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			tta-deva
		),
		(
			na-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ra-deva
		),
		(
			na-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			sa-deva
		),
		(
			na-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			va-deva
		),
		(
			na-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			tha-deva,
			halant-deva,
			va-deva
		),
		(
			na-deva,
			halant-deva,
			tha-deva,
			halant-deva,
			ya-deva
		),
		(
			nga-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ra-deva
		),
		(
			nga-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ssa-deva
		),
		(
			nga-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ta-deva
		),
		(
			nga-deva,
			halant-deva,
			kha-deva,
			halant-deva,
			ya-deva
		),
		(
			nya-deva,
			halant-deva,
			ca-deva,
			halant-deva,
			ya-deva
		),
		(
			nya-deva,
			halant-deva,
			ja-deva,
			halant-deva,
			ya-deva
		),
		(
			nya-deva,
			halant-deva,
			sha-deva,
			halant-deva,
			ra-deva
		),
		(
			pa-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			va-deva
		),
		(
			pa-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ya-deva
		),
		(
			ra-deva,
			halant-deva,
			ca-deva,
			halant-deva,
			cha-deva
		),
		(
			sa-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ra-deva
		),
		(
			sa-deva,
			halant-deva,
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			sa-deva,
			halant-deva,
			na-deva,
			halant-deva,
			ya-deva
		),
		(
			sa-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			la-deva
		),
		(
			sa-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			ra-deva
		),
		(
			sa-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ra-deva
		),
		(
			sa-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			va-deva
		),
		(
			sa-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ya-deva
		),
		(
			sa-deva,
			halant-deva,
			tha-deva,
			halant-deva,
			ya-deva
		),
		(
			sa-deva,
			halant-deva,
			tta-deva,
			halant-deva,
			ra-deva
		),
		(
			sha-deva,
			halant-deva,
			ra-deva,
			halant-deva,
			ya-deva
		),
		(
			ssa-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ra-deva
		),
		(
			ssa-deva,
			halant-deva,
			tta-deva,
			halant-deva,
			ra-deva
		),
		(
			ta-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			la-deva
		),
		(
			ta-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ra-deva
		),
		(
			ta-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ssa-deva
		),
		(
			ta-deva,
			halant-deva,
			ka-deva,
			halant-deva,
			ya-deva
		),
		(
			ta-deva,
			halant-deva,
			kha-deva,
			halant-deva,
			na-deva
		),
		(
			ta-deva,
			halant-deva,
			kha-deva,
			halant-deva,
			ra-deva
		),
		(
			ta-deva,
			halant-deva,
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			ta-deva,
			halant-deva,
			na-deva,
			halant-deva,
			ya-deva
		),
		(
			ta-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			la-deva
		),
		(
			ta-deva,
			halant-deva,
			pa-deva,
			halant-deva,
			ra-deva
		),
		(
			ta-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			na-deva
		),
		(
			ta-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			tha-deva
		),
		(
			ta-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			va-deva
		),
		(
			ta-deva,
			halant-deva,
			sa-deva,
			halant-deva,
			ya-deva
		),
		(
			ta-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ra-deva
		),
		(
			ta-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			va-deva
		),
		(
			tta-deva,
			halant-deva,
			ta-deva,
			halant-deva,
			ra-deva
		),
		(
			va-deva,
			halant-deva,
			ra-deva,
			halant-deva,
			ta-deva
		),
		(
			ba-deva,
			halant-deva,
			ba-deva
		),
		(
			ba-deva,
			halant-deva,
			da-deva
		),
		(
			ba-deva,
			halant-deva,
			dha-deva
		),
		(
			ba-deva,
			halant-deva,
			ja-deva
		),
		(
			ba-deva,
			halant-deva,
			la-deva
		),
		(
			ba-deva,
			halant-deva,
			ra-deva
		),
		(
			bha-deva,
			halant-deva,
			la-deva
		),
		(
			bha-deva,
			halant-deva,
			na-deva
		),
		(
			bha-deva,
			halant-deva,
			ra-deva
		),
		(
			bha-deva,
			halant-deva,
			va-deva
		),
		(
			bha-deva,
			halant-deva,
			ya-deva
		),
		(
			ca-deva,
			halant-deva,
			ca-deva
		),
		(
			ca-deva,
			halant-deva,
			cha-deva
		),
		(
			ca-deva,
			halant-deva,
			da-deva
		),
		(
			ca-deva,
			halant-deva,
			dda-deva
		),
		(
			ca-deva,
			halant-deva,
			ddha-deva
		),
		(
			ca-deva,
			halant-deva,
			dha-deva
		),
		(
			ca-deva,
			halant-deva,
			ka-deva
		),
		(
			ca-deva,
			halant-deva,
			kha-deva
		),
		(
			ca-deva,
			halant-deva,
			la-deva
		),
		(
			ca-deva,
			halant-deva,
			ma-deva
		),
		(
			ca-deva,
			halant-deva,
			na-deva
		),
		(
			ca-deva,
			halant-deva,
			nna-deva
		),
		(
			ca-deva,
			halant-deva,
			pa-deva
		),
		(
			ca-deva,
			halant-deva,
			ra-deva
		),
		(
			ca-deva,
			halant-deva,
			sa-deva
		),
		(
			ca-deva,
			halant-deva,
			ta-deva
		),
		(
			ca-deva,
			halant-deva,
			tha-deva
		),
		(
			ca-deva,
			halant-deva,
			tta-deva
		),
		(
			ca-deva,
			halant-deva,
			ttha-deva
		),
		(
			ca-deva,
			halant-deva,
			va-deva
		),
		(
			ca-deva,
			halant-deva,
			ya-deva
		),
		(
			cha-deva,
			halant-deva,
			ra-deva
		),
		(
			cha-deva,
			halant-deva,
			va-deva
		),
		(
			cha-deva,
			halant-deva,
			ya-deva
		),
		(
			da-deva,
			halant-deva,
			ba-deva
		),
		(
			da-deva,
			halant-deva,
			bha-deva
		),
		(
			da-deva,
			halant-deva,
			da-deva
		),
		(
			da-deva,
			halant-deva,
			dha-deva
		),
		(
			da-deva,
			halant-deva,
			ga-deva
		),
		(
			da-deva,
			halant-deva,
			gha-deva
		),
		(
			da-deva,
			halant-deva,
			ma-deva
		),
		(
			da-deva,
			halant-deva,
			ra-deva
		),
		(
			da-deva,
			halant-deva,
			va-deva
		),
		(
			da-deva,
			halant-deva,
			ya-deva
		),
		(
			dda-deva,
			halant-deva,
			bha-deva
		),
		(
			dda-deva,
			halant-deva,
			dda-deva
		),
		(
			dda-deva,
			halant-deva,
			ddha-deva
		),
		(
			dda-deva,
			halant-deva,
			ra-deva
		),
		(
			dda-deva,
			halant-deva,
			va-deva
		),
		(
			ddha-deva,
			halant-deva,
			ddha-deva
		),
		(
			ddha-deva,
			halant-deva,
			ra-deva
		),
		(
			ddha-deva,
			halant-deva,
			ya-deva
		),
		(
			dha-deva,
			halant-deva,
			da-deva
		),
		(
			dha-deva,
			halant-deva,
			dha-deva
		),
		(
			dha-deva,
			halant-deva,
			ka-deva
		),
		(
			dha-deva,
			halant-deva,
			la-deva
		),
		(
			dha-deva,
			halant-deva,
			na-deva
		),
		(
			dha-deva,
			halant-deva,
			ra-deva
		),
		(
			dha-deva,
			halant-deva,
			sa-deva
		),
		(
			dha-deva,
			halant-deva,
			va-deva
		),
		(
			dha-deva,
			halant-deva,
			ya-deva
		),
		(
			fa-deva,
			halant-deva,
			ra-deva
		),
		(
			ga-deva,
			halant-deva,
			ba-deva
		),
		(
			ga-deva,
			halant-deva,
			bha-deva
		),
		(
			ga-deva,
			halant-deva,
			da-deva
		),
		(
			ga-deva,
			halant-deva,
			dha-deva
		),
		(
			ga-deva,
			halant-deva,
			ga-deva
		),
		(
			ga-deva,
			halant-deva,
			ja-deva
		),
		(
			ga-deva,
			halant-deva,
			ka-deva
		),
		(
			ga-deva,
			halant-deva,
			la-deva
		),
		(
			ga-deva,
			halant-deva,
			ma-deva
		),
		(
			ga-deva,
			halant-deva,
			na-deva
		),
		(
			ga-deva,
			halant-deva,
			nna-deva
		),
		(
			ga-deva,
			halant-deva,
			ra-deva
		),
		(
			ga-deva,
			halant-deva,
			sa-deva
		),
		(
			ga-deva,
			halant-deva,
			ta-deva
		),
		(
			ga-deva,
			halant-deva,
			va-deva
		),
		(
			ga-deva,
			halant-deva,
			ya-deva
		),
		(
			gha-deva,
			halant-deva,
			ba-deva
		),
		(
			gha-deva,
			halant-deva,
			da-deva
		),
		(
			gha-deva,
			halant-deva,
			dda-deva
		),
		(
			gha-deva,
			halant-deva,
			gha-deva
		),
		(
			gha-deva,
			halant-deva,
			ja-deva
		),
		(
			gha-deva,
			halant-deva,
			la-deva
		),
		(
			gha-deva,
			halant-deva,
			ma-deva
		),
		(
			gha-deva,
			halant-deva,
			na-deva
		),
		(
			gha-deva,
			halant-deva,
			nna-deva
		),
		(
			gha-deva,
			halant-deva,
			ra-deva
		),
		(
			gha-deva,
			halant-deva,
			sa-deva
		),
		(
			gha-deva,
			halant-deva,
			ta-deva
		),
		(
			gha-deva,
			halant-deva,
			tta-deva
		),
		(
			gha-deva,
			halant-deva,
			ttha-deva
		),
		(
			gha-deva,
			halant-deva,
			va-deva
		),
		(
			gha-deva,
			halant-deva,
			ya-deva
		),
		(
			ha-deva,
			halant-deva,
			la-deva
		),
		(
			ha-deva,
			halant-deva,
			ma-deva
		),
		(
			ha-deva,
			halant-deva,
			na-deva
		),
		(
			ha-deva,
			halant-deva,
			nna-deva
		),
		(
			ha-deva,
			halant-deva,
			ra-deva
		),
		(
			ha-deva,
			halant-deva,
			va-deva
		),
		(
			ha-deva,
			halant-deva,
			ya-deva
		),
		(
			ja-deva,
			halant-deva,
			ba-deva
		),
		(
			ja-deva,
			halant-deva,
			da-deva
		),
		(
			ja-deva,
			halant-deva,
			ja-deva
		),
		(
			ja-deva,
			halant-deva,
			jha-deva
		),
		(
			ja-deva,
			halant-deva,
			ka-deva
		),
		(
			ja-deva,
			halant-deva,
			la-deva
		),
		(
			ja-deva,
			halant-deva,
			ma-deva
		),
		(
			ja-deva,
			halant-deva,
			na-deva
		),
		(
			ja-deva,
			halant-deva,
			nya-deva
		),
		(
			ja-deva,
			halant-deva,
			ra-deva
		),
		(
			ja-deva,
			halant-deva,
			ta-deva
		),
		(
			ja-deva,
			halant-deva,
			va-deva
		),
		(
			ja-deva,
			halant-deva,
			ya-deva
		),
		(
			jha-deva,
			halant-deva,
			ga-deva
		),
		(
			jha-deva,
			halant-deva,
			gha-deva
		),
		(
			jha-deva,
			halant-deva,
			jha-deva
		),
		(
			jha-deva,
			halant-deva,
			ka-deva
		),
		(
			jha-deva,
			halant-deva,
			la-deva
		),
		(
			jha-deva,
			halant-deva,
			ma-deva
		),
		(
			jha-deva,
			halant-deva,
			na-deva
		),
		(
			jha-deva,
			halant-deva,
			ra-deva
		),
		(
			jha-deva,
			halant-deva,
			ta-deva
		),
		(
			jha-deva,
			halant-deva,
			va-deva
		),
		(
			jha-deva,
			halant-deva,
			ya-deva
		),
		(
			ka-deva,
			halant-deva,
			ba-deva
		),
		(
			ka-deva,
			halant-deva,
			bha-deva
		),
		(
			ka-deva,
			halant-deva,
			ca-deva
		),
		(
			ka-deva,
			halant-deva,
			cha-deva
		),
		(
			ka-deva,
			halant-deva,
			da-deva
		),
		(
			ka-deva,
			halant-deva,
			dda-deva
		),
		(
			ka-deva,
			halant-deva,
			ddha-deva
		),
		(
			ka-deva,
			halant-deva,
			ga-deva
		),
		(
			ka-deva,
			halant-deva,
			ha-deva
		),
		(
			ka-deva,
			halant-deva,
			ja-deva
		),
		(
			ka-deva,
			halant-deva,
			jha-deva
		),
		(
			ka-deva,
			halant-deva,
			ka-deva
		),
		(
			ka-deva,
			halant-deva,
			kha-deva
		),
		(
			ka-deva,
			halant-deva,
			la-deva
		),
		(
			ka-deva,
			halant-deva,
			lla-deva
		),
		(
			ka-deva,
			halant-deva,
			ma-deva
		),
		(
			ka-deva,
			halant-deva,
			na-deva
		),
		(
			ka-deva,
			halant-deva,
			nna-deva
		),
		(
			ka-deva,
			halant-deva,
			pa-deva
		),
		(
			ka-deva,
			halant-deva,
			pha-deva
		),
		(
			ka-deva,
			halant-deva,
			ra-deva
		),
		(
			ka-deva,
			halant-deva,
			sa-deva
		),
		(
			ka-deva,
			halant-deva,
			sha-deva
		),
		(
			ka-deva,
			halant-deva,
			ssa-deva
		),
		(
			ka-deva,
			halant-deva,
			ta-deva
		),
		(
			ka-deva,
			halant-deva,
			tha-deva
		),
		(
			ka-deva,
			halant-deva,
			tta-deva
		),
		(
			ka-deva,
			halant-deva,
			ttha-deva
		),
		(
			ka-deva,
			halant-deva,
			va-deva
		),
		(
			ka-deva,
			halant-deva,
			ya-deva
		),
		(
			kha-deva,
			halant-deva,
			da-deva
		),
		(
			kha-deva,
			halant-deva,
			kha-deva
		),
		(
			kha-deva,
			halant-deva,
			la-deva
		),
		(
			kha-deva,
			halant-deva,
			ma-deva
		),
		(
			kha-deva,
			halant-deva,
			na-deva
		),
		(
			kha-deva,
			halant-deva,
			nna-deva
		),
		(
			kha-deva,
			halant-deva,
			pa-deva
		),
		(
			kha-deva,
			halant-deva,
			ra-deva
		),
		(
			kha-deva,
			halant-deva,
			sa-deva
		),
		(
			kha-deva,
			halant-deva,
			sha-deva
		),
		(
			kha-deva,
			halant-deva,
			ssa-deva
		),
		(
			kha-deva,
			halant-deva,
			ta-deva
		),
		(
			kha-deva,
			halant-deva,
			tta-deva
		),
		(
			kha-deva,
			halant-deva,
			ttha-deva
		),
		(
			kha-deva,
			halant-deva,
			va-deva
		),
		(
			kha-deva,
			halant-deva,
			ya-deva
		),
		(
			la-deva,
			halant-deva,
			ba-deva
		),
		(
			la-deva,
			halant-deva,
			bha-deva
		),
		(
			la-deva,
			halant-deva,
			ca-deva
		),
		(
			la-deva,
			halant-deva,
			da-deva
		),
		(
			la-deva,
			halant-deva,
			dda-deva
		),
		(
			la-deva,
			halant-deva,
			ddha-deva
		),
		(
			la-deva,
			halant-deva,
			ga-deva
		),
		(
			la-deva,
			halant-deva,
			ha-deva
		),
		(
			la-deva,
			halant-deva,
			ja-deva
		),
		(
			la-deva,
			halant-deva,
			ka-deva
		),
		(
			la-deva,
			halant-deva,
			kha-deva
		),
		(
			la-deva,
			halant-deva,
			la-deva
		),
		(
			la-deva,
			halant-deva,
			ma-deva
		),
		(
			la-deva,
			halant-deva,
			pa-deva
		),
		(
			la-deva,
			halant-deva,
			pha-deva
		),
		(
			la-deva,
			halant-deva,
			ra-deva
		),
		(
			la-deva,
			halant-deva,
			sa-deva
		),
		(
			la-deva,
			halant-deva,
			ta-deva
		),
		(
			la-deva,
			halant-deva,
			tha-deva
		),
		(
			la-deva,
			halant-deva,
			tta-deva
		),
		(
			la-deva,
			halant-deva,
			ttha-deva
		),
		(
			la-deva,
			halant-deva,
			va-deva
		),
		(
			la-deva,
			halant-deva,
			ya-deva
		),
		(
			lla-deva,
			halant-deva,
			pa-deva
		),
		(
			lla-deva,
			halant-deva,
			va-deva
		),
		(
			lla-deva,
			halant-deva,
			ya-deva
		),
		(
			ma-deva,
			halant-deva,
			ba-deva
		),
		(
			ma-deva,
			halant-deva,
			bha-deva
		),
		(
			ma-deva,
			halant-deva,
			da-deva
		),
		(
			ma-deva,
			halant-deva,
			ha-deva
		),
		(
			ma-deva,
			halant-deva,
			la-deva
		),
		(
			ma-deva,
			halant-deva,
			ma-deva
		),
		(
			ma-deva,
			halant-deva,
			na-deva
		),
		(
			ma-deva,
			halant-deva,
			pa-deva
		),
		(
			ma-deva,
			halant-deva,
			ra-deva
		),
		(
			ma-deva,
			halant-deva,
			sa-deva
		),
		(
			ma-deva,
			halant-deva,
			sha-deva
		),
		(
			ma-deva,
			halant-deva,
			ta-deva
		),
		(
			ma-deva,
			halant-deva,
			va-deva
		),
		(
			ma-deva,
			halant-deva,
			ya-deva
		),
		(
			na-deva,
			halant-deva,
			ba-deva
		),
		(
			na-deva,
			halant-deva,
			bha-deva
		),
		(
			na-deva,
			halant-deva,
			ca-deva
		),
		(
			na-deva,
			halant-deva,
			cha-deva
		),
		(
			na-deva,
			halant-deva,
			da-deva
		),
		(
			na-deva,
			halant-deva,
			dda-deva
		),
		(
			na-deva,
			halant-deva,
			ddha-deva
		),
		(
			na-deva,
			halant-deva,
			dha-deva
		),
		(
			na-deva,
			halant-deva,
			ga-deva
		),
		(
			na-deva,
			halant-deva,
			ha-deva
		),
		(
			na-deva,
			halant-deva,
			ja-deva
		),
		(
			na-deva,
			halant-deva,
			jha-deva
		),
		(
			na-deva,
			halant-deva,
			ka-deva
		),
		(
			na-deva,
			halant-deva,
			kha-deva
		),
		(
			na-deva,
			halant-deva,
			la-deva
		),
		(
			na-deva,
			halant-deva,
			ma-deva
		),
		(
			na-deva,
			halant-deva,
			na-deva
		),
		(
			na-deva,
			halant-deva,
			pa-deva
		),
		(
			na-deva,
			halant-deva,
			pha-deva
		),
		(
			na-deva,
			halant-deva,
			ra-deva
		),
		(
			na-deva,
			halant-deva,
			sa-deva
		),
		(
			na-deva,
			halant-deva,
			sha-deva
		),
		(
			na-deva,
			halant-deva,
			ta-deva
		),
		(
			na-deva,
			halant-deva,
			tha-deva
		),
		(
			na-deva,
			halant-deva,
			tta-deva
		),
		(
			na-deva,
			halant-deva,
			ttha-deva
		),
		(
			na-deva,
			halant-deva,
			va-deva
		),
		(
			na-deva,
			halant-deva,
			ya-deva
		),
		(
			nga-deva,
			halant-deva,
			ca-deva
		),
		(
			nga-deva,
			halant-deva,
			ga-deva
		),
		(
			nga-deva,
			halant-deva,
			gha-deva
		),
		(
			nga-deva,
			halant-deva,
			ka-deva
		),
		(
			nga-deva,
			halant-deva,
			kha-deva
		),
		(
			nga-deva,
			halant-deva,
			ma-deva
		),
		(
			nga-deva,
			halant-deva,
			na-deva
		),
		(
			nga-deva,
			halant-deva,
			ra-deva
		),
		(
			nga-deva,
			halant-deva,
			ya-deva
		),
		(
			nna-deva,
			halant-deva,
			dda-deva
		),
		(
			nna-deva,
			halant-deva,
			dddha-deva
		),
		(
			nna-deva,
			halant-deva,
			ddha-deva
		),
		(
			nna-deva,
			halant-deva,
			nna-deva
		),
		(
			nna-deva,
			halant-deva,
			ra-deva
		),
		(
			nna-deva,
			halant-deva,
			ta-deva
		),
		(
			nna-deva,
			halant-deva,
			tta-deva
		),
		(
			nna-deva,
			halant-deva,
			ttha-deva
		),
		(
			nna-deva,
			halant-deva,
			va-deva
		),
		(
			nna-deva,
			halant-deva,
			ya-deva
		),
		(
			nya-deva,
			halant-deva,
			ca-deva
		),
		(
			nya-deva,
			halant-deva,
			cha-deva
		),
		(
			nya-deva,
			halant-deva,
			ja-deva
		),
		(
			nya-deva,
			halant-deva,
			sha-deva
		),
		(
			pa-deva,
			halant-deva,
			da-deva
		),
		(
			pa-deva,
			halant-deva,
			dda-deva
		),
		(
			pa-deva,
			halant-deva,
			ddha-deva
		),
		(
			pa-deva,
			halant-deva,
			dha-deva
		),
		(
			pa-deva,
			halant-deva,
			jha-deva
		),
		(
			pa-deva,
			halant-deva,
			ka-deva
		),
		(
			pa-deva,
			halant-deva,
			la-deva
		),
		(
			pa-deva,
			halant-deva,
			lla-deva
		),
		(
			pa-deva,
			halant-deva,
			ma-deva
		),
		(
			pa-deva,
			halant-deva,
			na-deva
		),
		(
			pa-deva,
			halant-deva,
			nna-deva
		),
		(
			pa-deva,
			halant-deva,
			pa-deva
		),
		(
			pa-deva,
			halant-deva,
			pha-deva
		),
		(
			pa-deva,
			halant-deva,
			ra-deva
		),
		(
			pa-deva,
			halant-deva,
			sa-deva
		),
		(
			pa-deva,
			halant-deva,
			ssa-deva
		),
		(
			pa-deva,
			halant-deva,
			ta-deva
		),
		(
			pa-deva,
			halant-deva,
			tha-deva
		),
		(
			pa-deva,
			halant-deva,
			tta-deva
		),
		(
			pa-deva,
			halant-deva,
			ttha-deva
		),
		(
			pa-deva,
			halant-deva,
			va-deva
		),
		(
			pa-deva,
			halant-deva,
			ya-deva
		),
		(
			pha-deva,
			halant-deva,
			da-deva
		),
		(
			pha-deva,
			halant-deva,
			ja-deva
		),
		(
			pha-deva,
			halant-deva,
			ka-deva
		),
		(
			pha-deva,
			halant-deva,
			la-deva
		),
		(
			pha-deva,
			halant-deva,
			ma-deva
		),
		(
			pha-deva,
			halant-deva,
			na-deva
		),
		(
			pha-deva,
			halant-deva,
			pha-deva
		),
		(
			pha-deva,
			halant-deva,
			ra-deva
		),
		(
			pha-deva,
			halant-deva,
			sha-deva
		),
		(
			pha-deva,
			halant-deva,
			ta-deva
		),
		(
			pha-deva,
			halant-deva,
			tta-deva
		),
		(
			pha-deva,
			halant-deva,
			ya-deva
		),
		(
			sa-deva,
			halant-deva,
			ba-deva
		),
		(
			sa-deva,
			halant-deva,
			cha-deva
		),
		(
			sa-deva,
			halant-deva,
			da-deva
		),
		(
			sa-deva,
			halant-deva,
			dda-deva
		),
		(
			sa-deva,
			halant-deva,
			ddha-deva
		),
		(
			sa-deva,
			halant-deva,
			ja-deva
		),
		(
			sa-deva,
			halant-deva,
			ka-deva
		),
		(
			sa-deva,
			halant-deva,
			kha-deva
		),
		(
			sa-deva,
			halant-deva,
			la-deva
		),
		(
			sa-deva,
			halant-deva,
			ma-deva
		),
		(
			sa-deva,
			halant-deva,
			na-deva
		),
		(
			sa-deva,
			halant-deva,
			pa-deva
		),
		(
			sa-deva,
			halant-deva,
			pha-deva
		),
		(
			sa-deva,
			halant-deva,
			ra-deva
		),
		(
			sa-deva,
			halant-deva,
			sa-deva
		),
		(
			sa-deva,
			halant-deva,
			ta-deva
		),
		(
			sa-deva,
			halant-deva,
			tha-deva
		),
		(
			sa-deva,
			halant-deva,
			tta-deva
		),
		(
			sa-deva,
			halant-deva,
			ttha-deva
		),
		(
			sa-deva,
			halant-deva,
			va-deva
		),
		(
			sa-deva,
			halant-deva,
			ya-deva
		),
		(
			sha-deva,
			halant-deva,
			ba-deva
		),
		(
			sha-deva,
			halant-deva,
			ca-deva
		),
		(
			sha-deva,
			halant-deva,
			cha-deva
		),
		(
			sha-deva,
			halant-deva,
			ka-deva
		),
		(
			sha-deva,
			halant-deva,
			kha-deva
		),
		(
			sha-deva,
			halant-deva,
			la-deva
		),
		(
			sha-deva,
			halant-deva,
			ma-deva
		),
		(
			sha-deva,
			halant-deva,
			na-deva
		),
		(
			sha-deva,
			halant-deva,
			ra-deva
		),
		(
			sha-deva,
			halant-deva,
			sha-deva
		),
		(
			sha-deva,
			halant-deva,
			ta-deva
		),
		(
			sha-deva,
			halant-deva,
			tta-deva
		),
		(
			sha-deva,
			halant-deva,
			va-deva
		),
		(
			sha-deva,
			halant-deva,
			ya-deva
		),
		(
			ssa-deva,
			halant-deva,
			ka-deva
		),
		(
			ssa-deva,
			halant-deva,
			ma-deva
		),
		(
			ssa-deva,
			halant-deva,
			nna-deva
		),
		(
			ssa-deva,
			halant-deva,
			pa-deva
		),
		(
			ssa-deva,
			halant-deva,
			tta-deva
		),
		(
			ssa-deva,
			halant-deva,
			ttha-deva
		),
		(
			ssa-deva,
			halant-deva,
			va-deva
		),
		(
			ta-deva,
			halant-deva,
			ba-deva
		),
		(
			ta-deva,
			halant-deva,
			bha-deva
		),
		(
			ta-deva,
			halant-deva,
			ka-deva
		),
		(
			ta-deva,
			halant-deva,
			kha-deva
		),
		(
			ta-deva,
			halant-deva,
			la-deva
		),
		(
			ta-deva,
			halant-deva,
			ma-deva
		),
		(
			ta-deva,
			halant-deva,
			na-deva
		),
		(
			ta-deva,
			halant-deva,
			pa-deva
		),
		(
			ta-deva,
			halant-deva,
			pha-deva
		),
		(
			ta-deva,
			halant-deva,
			ra-deva
		),
		(
			ta-deva,
			halant-deva,
			sa-deva
		),
		(
			ta-deva,
			halant-deva,
			ta-deva
		),
		(
			ta-deva,
			halant-deva,
			tha-deva
		),
		(
			ta-deva,
			halant-deva,
			va-deva
		),
		(
			ta-deva,
			halant-deva,
			ya-deva
		),
		(
			tha-deva,
			halant-deva,
			ka-deva
		),
		(
			tha-deva,
			halant-deva,
			la-deva
		),
		(
			tha-deva,
			halant-deva,
			ma-deva
		),
		(
			tha-deva,
			halant-deva,
			ra-deva
		),
		(
			tha-deva,
			halant-deva,
			sa-deva
		),
		(
			tha-deva,
			halant-deva,
			tha-deva
		),
		(
			tha-deva,
			halant-deva,
			va-deva
		),
		(
			tha-deva,
			halant-deva,
			ya-deva
		),
		(
			tta-deva,
			halant-deva,
			ra-deva
		),
		(
			tta-deva,
			halant-deva,
			tta-deva
		),
		(
			tta-deva,
			halant-deva,
			ttha-deva
		),
		(
			tta-deva,
			halant-deva,
			va-deva
		),
		(
			tta-deva,
			halant-deva,
			ya-deva
		),
		(
			ttha-deva,
			halant-deva,
			ra-deva
		),
		(
			ttha-deva,
			halant-deva,
			ttha-deva
		),
		(
			va-deva,
			halant-deva,
			ha-deva
		),
		(
			va-deva,
			halant-deva,
			la-deva
		),
		(
			va-deva,
			halant-deva,
			na-deva
		),
		(
			va-deva,
			halant-deva,
			ra-deva
		),
		(
			va-deva,
			halant-deva,
			sa-deva
		),
		(
			va-deva,
			halant-deva,
			ya-deva
		),
		(
			va-deva,
			halant-deva,
			va-deva
		),
		(
			ya-deva,
			halant-deva,
			ra-deva
		),
		(
			ya-deva,
			halant-deva,
			ya-deva
		)
	);
	gujarati = (
		(
			nga-gujarati,
			halant-gujarati,
			ka-gujarati,
			halant-gujarati,
			ta-gujarati,
		),
		(
			nga-gujarati,
			halant-gujarati,
			gha-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			tta-gujarati,
			halant-gujarati,
			ta-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			ta-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			ta-gujarati,
			halant-gujarati,
			va-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			pa-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			ta-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			da-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			pa-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ta-gujarati,
			halant-gujarati,
			sa-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ssa-gujarati,
			halant-gujarati,
			nna-gujarati,
		),
		(
			ssa-gujarati,
			halant-gujarati,
			ka-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			ta-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			da-gujarati,
			halant-gujarati,
			dha-gujarati,
		),
		(
			ba-gujarati,
			halant-gujarati,
			dha-gujarati,
		),
		(
			ba-gujarati,
			halant-gujarati,
			la-gujarati,
		),
		(
			ca-gujarati,
			halant-gujarati,
			ca-gujarati,
		),
		(
			ca-gujarati,
			halant-gujarati,
			cha-gujarati,
		),
		(
			da-gujarati,
			halant-gujarati,
			bha-gujarati,
		),
		(
			da-gujarati,
			halant-gujarati,
			dha-gujarati,
		),
		(
			da-gujarati,
			halant-gujarati,
			ga-gujarati,
		),
		(
			da-gujarati,
			halant-gujarati,
			ma-gujarati,
		),
		(
			da-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			da-gujarati,
			halant-gujarati,
			va-gujarati,
		),
		(
			ga-gujarati,
			halant-gujarati,
			ma-gujarati,
		),
		(
			ga-gujarati,
			halant-gujarati,
			na-gujarati,
		),
		(
			ga-gujarati,
			halant-gujarati,
			va-gujarati,
		),
		(
			ha-gujarati,
			halant-gujarati,
			na-gujarati,
		),
		(
			ja-gujarati,
			halant-gujarati,
			ja-gujarati,
		),
		(
			ja-gujarati,
			halant-gujarati,
			nya-gujarati,
		),
		(
			ja-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			ka-gujarati,
			halant-gujarati,
			ca-gujarati,
		),
		(
			ka-gujarati,
			halant-gujarati,
			la-gujarati,
		),
		(
			ka-gujarati,
			halant-gujarati,
			ma-gujarati,
		),
		(
			ka-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			ka-gujarati,
			halant-gujarati,
			sa-gujarati,
		),
		(
			ka-gujarati,
			halant-gujarati,
			ssa-gujarati,
		),
		(
			ka-gujarati,
			halant-gujarati,
			ta-gujarati,
		),
		(
			ka-gujarati,
			halant-gujarati,
			va-gujarati,
		),
		(
			la-gujarati,
			halant-gujarati,
			la-gujarati,
		),
		(
			la-gujarati,
			halant-gujarati,
			pa-gujarati,
		),
		(
			ma-gujarati,
			halant-gujarati,
			ba-gujarati,
		),
		(
			ma-gujarati,
			halant-gujarati,
			bha-gujarati,
		),
		(
			ma-gujarati,
			halant-gujarati,
			na-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			da-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			dda-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			dha-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			na-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			ta-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			tha-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			tta-gujarati,
		),
		(
			na-gujarati,
			halant-gujarati,
			va-gujarati,
		),
		(
			nga-gujarati,
			halant-gujarati,
			ga-gujarati,
		),
		(
			nga-gujarati,
			halant-gujarati,
			gha-gujarati,
		),
		(
			nga-gujarati,
			halant-gujarati,
			ka-gujarati,
		),
		(
			nna-gujarati,
			halant-gujarati,
			dda-gujarati,
		),
		(
			nna-gujarati,
			halant-gujarati,
			ddha-gujarati,
		),
		(
			nna-gujarati,
			halant-gujarati,
			ttha-gujarati,
		),
		(
			nya-gujarati,
			halant-gujarati,
			ca-gujarati,
		),
		(
			nya-gujarati,
			halant-gujarati,
			cha-gujarati,
		),
		(
			nya-gujarati,
			halant-gujarati,
			ja-gujarati,
		),
		(
			nya-gujarati,
			halant-gujarati,
			jha-gujarati,
		),
		(
			pa-gujarati,
			halant-gujarati,
			la-gujarati,
		),
		(
			pa-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			pa-gujarati,
			halant-gujarati,
			sa-gujarati,
		),
		(
			pa-gujarati,
			halant-gujarati,
			sha-gujarati,
		),
		(
			pa-gujarati,
			halant-gujarati,
			ta-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ba-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			bha-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ca-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			da-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			dha-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ga-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ha-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ja-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ma-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			na-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			nna-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			pa-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ssa-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			ta-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			tha-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			tta-gujarati,
		),
		(
			ra-gujarati,
			halant-gujarati,
			va-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			ca-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			la-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			ma-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			na-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			sa-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			ta-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			tha-gujarati,
		),
		(
			sa-gujarati,
			halant-gujarati,
			va-gujarati,
		),
		(
			sha-gujarati,
			halant-gujarati,
			ca-gujarati,
		),
		(
			sha-gujarati,
			halant-gujarati,
			la-gujarati,
		),
		(
			sha-gujarati,
			halant-gujarati,
			ma-gujarati,
		),
		(
			sha-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			sha-gujarati,
			halant-gujarati,
			sha-gujarati,
		),
		(
			ssa-gujarati,
			halant-gujarati,
			ma-gujarati,
		),
		(
			ssa-gujarati,
			halant-gujarati,
			nna-gujarati,
		),
		(
			ssa-gujarati,
			halant-gujarati,
			tta-gujarati,
		),
		(
			ssa-gujarati,
			halant-gujarati,
			ttha-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			ka-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			ma-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			pa-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			sa-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			ta-gujarati,
		),
		(
			ta-gujarati,
			halant-gujarati,
			va-gujarati,
		),
		(
			tta-gujarati,
			halant-gujarati,
			ra-gujarati,
		),
		(
			tta-gujarati,
			halant-gujarati,
			tta-gujarati,
		),
		(
			va-gujarati,
			halant-gujarati,
			ha-gujarati,
		)
	);
}