<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>numr</key>
		<array>
			<string>dnom</string>
			<string>subs</string>
			<string>sups</string>
			<string>sinf</string>
		</array>
		<key>dnom</key>
		<array>
			<string>numr</string>
			<string>subs</string>
			<string>sups</string>
			<string>sinf</string>
		</array>
		<key>subs</key>
		<array>
			<string>numr</string>
			<string>dnom</string>
			<string>sups</string>
			<string>sinf</string>
		</array>
		<key>sups</key>
		<array>
			<string>numr</string>
			<string>dnom</string>
			<string>subs</string>
			<string>sinf</string>
		</array>
		<key>sinf</key>
		<array>
			<string>numr</string>
			<string>dnom</string>
			<string>subs</string>
			<string>sups</string>
		</array>
		<key>tnum</key>
		<array>
			<string>pnum</string>
		</array>
		<key>pnum</key>
		<array>
			<string>tnum</string>
		</array>
		<key>onum</key>
		<array>
			<string>lnum</string>
		</array>
		<key>lnum</key>
		<array>
			<string>onum</string>
		</array>
	</dict>
</plist>
