<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Latin Text</string>
			<key>content</key>
			<array>
				<dict>
					<key>label</key>
					<string>Serif Style</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cove</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Obtuse Cove</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Square Cove</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Obtuse Square Cove</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Square</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Thin</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oval</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exaggerated</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Triangle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal Sans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Obtuse Sans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Perpendicular Sans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Flared</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Rounded</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Weight</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Very Light</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Light</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Thin</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Book</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Demi</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bold</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Heavy</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Black</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Extra Black</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Proportion</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Old Style</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Modern</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Even Width</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Extended</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Condensed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Extended</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Condensed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Monospaced</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Contrast</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>None</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very High</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Stroke Variation</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>No Variation</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gradual/Diagonal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gradual/Transitional</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gradual/Vertical</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gradual/Horizontal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Rapid/Vertical</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Rapid/Horizontal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Instant/Vertical</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Instant/Horizontal</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Arm Style</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Straight Arms/Horizontal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Straight Arms/Wedge</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Straight Arms/Vertical</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Straight Arms/Single Serif</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Straight Arms/Double Serif</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Non-Straight/Horizontal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Non-Straight/Wedge</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Non-Straight/Vertical</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Non-Straight/Single Serif</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Non-Straight/Double Serif</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Letterform</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Normal/Contact</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal/Weighted</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal/Boxed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal/Flattened</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal/Rounded</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal/Off Center</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal/Square</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique/Contact</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique/Weighted</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique/Boxed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique/Flattened</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique/Rounded</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique/Off Center</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique/Square</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Midline</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Standard/Trimmed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Standard/Pointed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Standard/Serifed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High/Trimmed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High/Pointed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High/Serifed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Constant/Trimmed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Constant/Pointed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Constant/Serifed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low/Trimmed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low/Pointed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low/Serifed</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>x-height</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Constant/Small</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Constant/Standard</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Constant/Large</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ducking/Small</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ducking/Standard</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ducking/Large</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Latin Hand Written</string>
			<key>content</key>
			<array>
				<dict>
					<key>label</key>
					<string>Tool kind</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Flat Nib</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pressure Point</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Engraved</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ball (Round Cap)</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Brush</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Rough</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Felt Pen/Brush Tip</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wild Brush - Drips a lot</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Weight</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Very Light</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Light</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Thin</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Book</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Demi</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bold</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Heavy</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Black</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Extra Black (Nord)</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Spacing</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Proportional Spaced</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Monospaced</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect Ratio</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Very Condensed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Condensed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Expanded</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Expanded</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Contrast</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>None</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very High</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Topology</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Roman Disconnected</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Roman Trailing</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Roman Connected</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cursive Disconnected</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cursive Trailing</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cursive Connected</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Blackletter Disconnected</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Blackletter Trailing</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Blackletter Connected</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Form</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Upright / No Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Upright / Some Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Upright / More Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Upright / Extreme Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique / No Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique / Some Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique / More Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oblique / Extreme Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exaggerated / No Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exaggerated / Some Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exaggerated / More Wrapping</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exaggerated / Extreme Wrapping</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Finials</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>None / No loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>None / Closed loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>None / Open loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sharp / No loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sharp / Closed loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sharp / Open loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tapered / No loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tapered / Closed loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tapered / Open loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Round / No loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Round / Closed loops</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Round / Open loops</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>x-Ascent</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Very Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very High</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Latin Decorative</string>
			<key>content</key>
			<array>
				<dict>
					<key>label</key>
					<string>Class</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Derivative</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Non-standard Topology</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Non-standard Elements</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Non-standard Aspect</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Initials</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cartoon</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Picture Stems</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ornamented</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Text and Background</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Collage</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Montage</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Weight</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Very Light</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Light</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Thin</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Book</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Demi</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bold</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Heavy</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Black</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Extra Black</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Super Condensed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Condensed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Condensed</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Extended</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Extended</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Super Extended</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Monospaced</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Contrast</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>None</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Medium High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Horizontal Low</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Horizontal Medium</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Horizontal High</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Broken</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Serif Variant</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Cove</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Obtuse Cove</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Square Cove</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Obtuse Square Cove</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Square</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Thin</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oval</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exaggerated</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Triangle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal Sans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Obtuse Sans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Perpendicular Sans</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Flared</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Rounded</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Script</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Treatment</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>None - Standard Solid Fill</string>
						</dict>
						<dict>
							<key>name</key>
							<string>White / No Fill</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Patterned Fill</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Complex Fill</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Shaped Fill</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Drawn / Distressed</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Lining</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>None</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Inline</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Outline</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Engraved (Multiple Lines)</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Shadow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Relief</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Backdrop</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Topology</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Standard</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Square</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Multiple Segment</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Deco (E,M,S) Waco midlines</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Uneven Weighting</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Diverse Arms</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Diverse Forms</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Lombardic Forms</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Upper Case in Lower Case</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Implied Topology</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Horseshoe E and A</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Cursive</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Blackletter</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Swash Variance</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Range of Characters</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Extended Collection</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Litterals</string>
						</dict>
						<dict>
							<key>name</key>
							<string>No Lower Case</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Small Caps</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Latin Symbol</string>
			<key>content</key>
			<array>
				<dict>
					<key>label</key>
					<string>Kind</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Montages</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pictures</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Shapes</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Scientific</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Music</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Expert</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Patterns</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Boarders</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Icons</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Logos</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Industry specific</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Weight</string>
					<key>content</key>
					<array>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Spacing</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>Proportional Spaced</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Monospaced</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect ratio &amp; contrast</string>
					<key>content</key>
					<array>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect ratio of character 94</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>No Width</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exceptionally Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Super Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Narrow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Narrow</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect ratio of character 94</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>No Width</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exceptionally Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Super Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Narrow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Narrow</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect ratio of character 119</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>No Width</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exceptionally Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Super Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Narrow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Narrow</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect ratio of character 157</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>No Width</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exceptionally Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Super Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Narrow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Narrow</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect ratio of character 163</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>No Width</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exceptionally Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Super Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Narrow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Narrow</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>label</key>
					<string>Aspect ratio of character 211</string>
					<key>content</key>
					<array>
						<dict>
							<key>name</key>
							<string>No Width</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Exceptionally Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Super Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wide</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Normal</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Narrow</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Very Narrow</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</plist>
