{
	arabic = arab;
	armenian = armn;
	bengali = beng;
	bopomofo = bopo;
	cyrillic = cyrl;
	devanagari = dev2;
	ethiopic = ethi;
	georgian = geor;
	gothic = goth;
	greek = grek;
	gujarati = gujr;
	gurmukhi = guru;
	han = hani;
	hangul = hang;
	hebrew = hebr;
	hiragana = kana;
	kana = kana;
	kannada = knda;
	katakana = kana;
	khmer = khmr;
	latin = latn;
	lepcha = lepc;
	malayalam = mlm2;
	mandaic = mand;
	mongolian = mong;
	musical = musc;
	oriya = ory2;
	samaritan = samr;
	sinhala = sinh;
	syriac = syrc;
	tamil = taml;
	telugu = telu;
	thai = thai;
	tibet = tibt;
	yi = "yi  ";
	adlam = adlm;
	lao = lao;
	myanmar = mym2;
	oldHungarian = hung;
	thaana = thaa;
	phoenician = phnx;
	oldTurkic = orkh;
	balinese = bali;
}