{
	egyptological = latin;
	middleWelsh = latin;
	coptic = greek;
	atticGreek = greek;
	ancientGreek = greek;
	nubian = greek;
	ar = arabic;
	persian = arabic;
	farsi = arabic;
	hb = hebrew;
	cy = cyrillic;
	arm = armenian;
	oldgeorgian = georgian;
	deva = devanagari;
	beng = bengali;
	ko = hangul;
	tifi = tifinagh;
	mong = mongolian;
	kata = kana;
	hira = kana;
	hangzhou = han;
	pahawhhmong = "pahawh hmong";
	tailaing = myanmar;
	shan = myanmar;
	paokaren = myanmar;
	aiton = myanmar;
	easternpwokaren = myanmar;
	gebakaren = myanmar;
	kayah = myanmar;
	khamti = myanmar;
	shwepalaung = myanmar;
	westernpwokaren = myanmar;
	sgawkaren = myanmar;
	mon = myanmar;
	blackletter = "Black Letter";
	fraktur = "Black Letter";
	bugi = buginese;
	java = javanese;
	hmnp = "nyiakeng puachue hmong";
	elym = elymaic;
	bali = balinese;
}
