(
	adlm,
	ahom,
	hluw,
	arab,
	armn,
	avst,
	bali,
	bamu,
	bass,
	batk,
	beng,
	bng2,
	bhks,
	bopo,
	brah,
	brai,
	bugi,
	buhd,
	byzm,
	cans,
	cari,
	aghb,
	cakm,
	cham,
	cher,
	hani,
	copt,
	cprt,
	cyrl,
	dsrt,
	deva,
	dev2,
	dogr,
	dupl,
	egyp,
	elba,
	ethi,
	geor,
	glag,
	goth,
	gran,
	grek,
	gujr,
	gjr2,
	gong,
	guru,
	gur2,
	hang,
	jamo,
	rohg,
	hano,
	hatr,
	hebr,
	kana,
	armi,
	phli,
	prti,
	java,
	kthi,
	knda,
	knd2,
	kana,
	kali,
	khar,
	khmr,
	khoj,
	sind,
	lao,
	latn,
	lepc,
	limb,
	lina,
	linb,
	lisu,
	lyci,
	lydi,
	mahj,
	maka,
	mlym,
	mlm2,
	mand,
	mani,
	marc,
	gonm,
	math,
	medf,
	mtei,
	mend,
	merc,
	mero,
	plrd,
	modi,
	mong,
	mroo,
	mult,
	musc,
	mymr,
	mym2,
	nbat,
	newa,
	talu,
	nko,
	nshu,
	orya,
	ory2,
	ogam,
	olck,
	ital,
	hung,
	narb,
	perm,
	xpeo,
	sogo,
	sarb,
	orkh,
	osge,
	osma,
	hmng,
	palm,
	pauc,
	phag,
	phnx,
	phlp,
	rjng,
	runr,
	samr,
	saur,
	shrd,
	shaw,
	sidd,
	sgnw,
	sinh,
	sogd,
	sora,
	soyo,
	xsux,
	sund,
	sylo,
	syrc,
	tglg,
	tagb,
	tale,
	lana,
	tavt,
	takr,
	taml,
	tml2,
	tang,
	telu,
	tel2,
	thaa,
	thai,
	tibt,
	tfng,
	tirh,
	ugar,
	vai,
	wara,
	yi,
	zanb,
)