(
	"Basic Latin",
	"Latin-1 Supplement",
	"Latin Extended-A",
	"Latin Extended-B",
	"IPA Extensions",
	"Spacing Modifier Letters",
	"Combining Diacritical Marks",
	Greek,
	Coptic,
	Cyrillic,
	Armenian,
	Hebrew,
	Vai,
	Arabic,
	NKo,
	Devanagari,
	Bengali,
	Gurmukhi,
	Gujarati,
	Oriya,
	Tamil,
	Telugu,
	Kannada,
	Malayalam,
	Thai,
	Lao,
	Georgian,
	Balinese,
	"Hangul Jamo",
	"Latin Extended Additional",
	"Greek Extended",
	"General Punctuation",
	"Superscripts And Subscripts",
	"Currency Symbols",
	"Combining Diacritical Marks For Symbols",
	"Letterlike Symbols",
	"Number Forms",
	Arrows,
	"Mathematical Operators",
	"Miscellaneous Technical",
	"Control Pictures",
	"Optical Character Recognition",
	"Enclosed Alphanumerics",
	"Box Drawing",
	"Block Elements",
	"Geometric Shapes",
	"Miscellaneous Symbols",
	Dingbats,
	"CJK Symbols And Punctuation",
	Hiragana,
	Katakana,
	Bopomofo,
	"Hangul Compatibility Jamo",
	"Phags-pa",
	"Enclosed CJK Letters And Months",
	"CJK Compatibility",
	"Hangul Syllables",
	"Non-Plane 0 *",
	Phoenician,
	"CJK Unified Ideographs",
	"Private Use Area (plane 0)",
	"CJK Strokes",
	"Alphabetic Presentation Forms",
	"Arabic Presentation Forms-A",
	"Combining Half Marks",
	"Vertical Forms",
	"Small Form Variants",
	"Arabic Presentation Forms-B",
	"Halfwidth And Fullwidth Forms",
	Specials,
	Tibetan,
	Syriac,
	Thaana,
	Sinhala,
	Myanmar,
	Ethiopic,
	Cherokee,
	"Unified Canadian Aboriginal Syllabics",
	Ogham,
	Runic,
	Khmer,
	Mongolian,
	"Braille Patterns",
	"Yi Syllables",
	Tagalog,
	"Old Italic",
	Gothic,
	Deseret,
	"Byzantine Musical Symbols",
	"Mathematical Alphanumeric Symbols",
	"Private Use (plane 15)",
	"Variation Selectors",
	Tags,
	Limbu,
	"Tai Le",
	"New Tai Lue",
	Buginese,
	Glagolitic,
	Tifinagh,
	"Yijing Hexagram Symbols",
	"Syloti Nagri",
	"Linear B Syllabary",
	"Ancient Greek Numbers",
	Ugaritic,
	"Old Persian",
	Shavian,
	Osmanya,
	"Cypriot Syllabary",
	Kharoshthi,
	"Tai Xuan Jing Symbols",
	Cuneiform,
	"Counting Rod Numerals",
	Sundanese,
	Lepcha,
	"Ol Chiki",
	Saurashtra,
	"Kayah Li",
	Rejang,
	Cham,
	"Ancient Symbols",
	"Phaistos Disc",
	Carian,
	"Domino Tiles",
)